.palco {
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: 120px;
    height: auto;
    width: 100%;
}

.bolinha {
    /* border: #000 solid 1px; */
    width: 200px;
    height: 200px;
    margin: auto;
    /* border-radius: 200px; */
    /* background: radial-gradient(#a5a5c3, #0101db); */
    background-color: aqua;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 1;
    transform: rotate(0deg);
    animation-name: bolinha-azul;
    animation-duration: 8s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes bolinha-azul {
    0% {
        position: absolute;
        left:50%;
        bottom: 0;
        background-color: aqua;
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        position: absolute;
        left:0;
        background-color: rgb(0, 24, 24);
        opacity: 0;
        transform: rotate(190deg);
    }

    75% {
        position: absolute;
        left:150%;
        background-color: rgb(255, 0, 221);
        opacity: 1;
    }

    100% {
        position: absolute;
        left: 50%;
        bottom: 400px;
        background-color: #000;
        opacity: 0.5;
    }
}