* {
    margin: 0;
}

.header {
    background-color: rgb(38, 32, 32);
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: aquamarine;
}

.barra-contato {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.barra-contato a {
    color: #fff;
    text-decoration: none;
}

.phone {
    margin-left: 8px;
}

.rede-social a{
    margin-left: 8px;
}

.menu {
    background-color: blueviolet;
    display: flex;
}

.center-menu {
    display: flex;
    list-style-type: none;
}

.navegacao {
    display: flex;
    justify-content: center;
}

.navegacao > a {
    background-color: blue;
    width: 20%;
}

.navegacao > div {
    background-color: brown;
    width: 80%;
}