* {
    margin: 0;
}

.header {
    background-color: rgb(38, 32, 32);
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.barra-contato {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.barra-contato a {
    color: #fff;
    text-decoration: none;
}

.phone {
    margin-left: 8px;
}

.rede-social a{
    margin-left: 8px;
}

.navbar {
    border-bottom: 0px solid #000;
    box-shadow: 1px 1px 2px rgb(104, 104, 104);
}

.menu {
    display: flex;
    justify-content: space-between;
    /* border-left: 2px dotted black; */
}

.menu > div:first-child {
    width: 80%;
}

.menu > div:last-child {
    width: 20%;
}

.center-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.center-menu a {
  text-decoration: none;
  color: rgb(14, 141, 0);  
}

.center-menu a:hover {
    color: blue;
    /* text-decoration: underline; */
}

.center-menu li {
    padding: 30px;
}

.center-menu li:hover { 
    /* background-color: aquamarine; */
    /* box-shadow: 1px -2px 5px #000 ; */
    border-bottom: #000 2px solid;
}


.navegacao {
    display: flex;
    justify-content: center;
}

.navegacao > a {
    width: 20%;
}

.navegacao > div {
    width: 80%;
}

.logo {
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 3rem;
    font-family: 'Oleo Script', cursive;
    color: rgb(0, 136, 90);
}