:root {
    --fundo-section: #efefef;
    --height-barras: 10px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.header {
    background-color: rgb(38, 32, 32);
    color: var(--fundo-section);
    /* position: fixed;
    width: 100%; */
}

.barra-contato {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 0.8rem;
}

.barra-contato a {
    color: #fff;
    text-decoration: none;
}

.phone {
    margin-left: 8px;
}

.rede-social a{
    margin-left: 8px;
}

.navbar {
    border-bottom: 0px solid #000;
    box-shadow: 1px 1px 2px rgb(104, 104, 104);
    background-color: rgba(0, 0, 0, 0.123);
}

.menu {
    display: flex;
    justify-content: space-between;
    /* border-left: 2px dotted black; */
}

.menu > div:first-child {
    width: 80%;
}

.menu > div:last-child {
    width: 20%;
}

.center-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.center-menu a {
    text-decoration: none;
    color: rgb(14, 141, 0);  
    /* text-shadow: -6px 1px 3px #000; */
}

.center-menu a:hover {
    color: rgb(0, 179, 96);
    /* font-weight: bold; */
    /* text-shadow: 6px 1px 5px #000; */
    /* text-decoration: underline; */
    /* text-transform: uppercase; */
}

.center-menu a:active {
    color: red;
}

.center-menu a:visited {
    color: rgb(108, 0, 100);
}

.center-menu li {
    padding: 30px;
}

.center-menu li:hover { 
    /* background-color: aquamarine; */
    /* box-shadow: 1px -2px 5px #000 ; */
    border-bottom: rgb(49, 49, 49) 1px solid;
}

.navegacao {
    display: flex;
    justify-content: center;
}

.navegacao > a {
    width: 20%;
}

.navegacao > div {
    width: 80%;
}

.logo {
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 3rem;
    font-family: 'Oleo Script', cursive;
    color: rgb(0, 136, 90);
    /* text-shadow: 1px 1px 1px red, 2px 2px 2px blue; */
}

/* Testando background e radius*/
/* .imagem {
    margin: auto;
    width: 400px;
    height: 400px;

    background-color: #8f0000;
    background-image: url(../img/banner_img_03.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    background: url(../img/banner_img_03.jpg) #fff no-repeat;
    background-size: cover;
    background: linear-gradient(to top right, #0000ff, #ff0000, #00ff00);
}

.imagem button {
    background: linear-gradient(#1400af, #3333ff);
    border: none;
    color: #fff;
    border-radius: 0 10px 20px 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.imagem button:hover {
    background: linear-gradient(#3333ff, #1400af);
} */

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    display: none;
}

.overlay div {
    width: 50%;
    margin:100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.overlay div span {
    visibility: hidden;
}


/*
.pai {
    background-color: aqua;
    width: 90%;
    max-height: 250px;
    min-height: 100px;
    height: auto;
    overflow: auto;
}

.filha {
    background-color: rgb(255, 0, 174) ;
    width: 50%;
    height: 50%;
}
*/

/* Produtos Header */
.produto {
    width: 50%;
    font-size: 0.8rem;
    position: relative;
}

.main-header {
     background-color: var(--fundo-section);
 }

 .produtos {
    display: flex;
 }

 img.curolagy {
    margin: auto;
    width: 100%;
    height: auto;
    animation-name: curolagy;
    opacity: 1; /* 0 - 0.1 - 0.2 ... 1 */
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
 }

@keyframes curolagy {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}

 .h1 {
    text-align: left;
    font-size: 3rem;
    color: #4d7959;
    margin-bottom: 40px;
 }

 .h1 span {
    font-weight: bold;
    border: rgb(0, 240, 208) solid 2px;
    border-radius: 0 20px 0 20px;
 }

 .descricao {
    padding: 35px 30px;
 }

 .descricao p {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
    line-height: 40px;
 }

 .descricao .sub-titulo {
    font-size: 2rem;
    padding-bottom: 10px;
 }

 /* .e-comerce {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
 }

 .e2 {
    background-color: #ff0000;
    position: absolute;
    right: 75px;
    bottom: 75px;
    z-index: 2;
 } */

 /* barras */
 .barras {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }

 .barras div {
    height: calc(var(--height-barras) + 10px);
    margin: 0 1px;
    width: calc(90px - 10px);
    background-color: #333;
    cursor: pointer;
    transition-property: height;
    transition-duration: 1s;
    /* transition-delay: 1s; */
    transition-timing-function: ease-in-out;
 }

 .barras div:hover {
    height: 90px;
 }

 .barras div:nth-of-type(1) {
    background-color: aqua;
    transition-property: height;
    transition-duration: 100ms;;
    height: calc(var(--height-barras) + 5px);
 }
 .barras div:nth-of-type(1):hover { 
    background-color: #f61010;
    height: calc(var(--height-barras) + 50px);
 }

 .barras div:nth-of-type(2) {
    background-color: aqua;
    transition-property: height;
    transition-duration: 1ms;
    height: calc(var(--height-barras) + 10px);
 }
 .barras div:nth-of-type(2):hover { 
    background-color: #f61010;
    height: calc(var(--height-barras) + 50px);
 }

 .barras div:nth-of-type(3) {
    background-color: aqua;
    transition-property: height;
    transition-duration: 1ms;
    height: calc(var(--height-barras) + 15px);
 }
 .barras div:nth-of-type(3):hover { 
    background-color: #30f000;
 }

 .barras div:nth-of-type(4) {
    background-color: aqua;
    transition-property: height;
    transition-duration: 1ms;
    height: calc(var(--height-barras) + 20px);
 }

 .barras div:nth-of-type(5) {
    background-color: aqua;
    transition-property: height;
    transition-duration: 1ms;
    height: calc(var(--height-barras) + 30px);
 }

/* Categoria de Produtos */
.h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}
.categoria-descricao {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 50px;
    line-height: 35px;
}
.img {
    max-width: 100%;
    height: auto;
}

.format-image {
    border-radius: 50%;
    border: 1px solid #dee2e6;
}

.format-image:hover {
    opacity: 0.3;
    border: #000 1px solid;
}

.categorias {
    background-color: var(--fundo-section);
}
.container {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 992px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

[class*="col"] {
    width: 100%;
}

.padding {
    padding: 0 2.5rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

/* Extra Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

}

/* Footer */
footer {
    background: linear-gradient(rgb(19, 0, 102),rgb(0, 0, 174));
    height: 300px;
    width: 100%;
}
